@model ClassroomProject_V1._3_.Models.Teacher

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.4/themes/flick/jquery-ui.css" rel="stylesheet" />
@section scripts{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#DateOfJoin").datepicker();
            $("#Birthday").datepicker();
            $("#DateOfLeave").datepicker();
            $.datepicker.setDefaults(
                $.extend(
                    { 'dateFormat': 'dd-mm-yy' },
                )
            );
            $.datepicker.regional['tr'] = {
                closeText: 'kapat',
                prevText: '&#x3C;geri',
                nextText: 'ileri&#x3e',
                currentText: 'bugün',
                monthNames: ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran',
                    'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'],
                monthNamesShort: ['Oca', 'Şub', 'Mar', 'Nis', 'May', 'Haz',
                    'Tem', 'Ağu', 'Eyl', 'Eki', 'Kas', 'Ara'],
                dayNames: ['Pazar', 'Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma', 'Cumartesi'],
                dayNamesShort: ['Pz', 'Pt', 'Sa', 'Ça', 'Pe', 'Cu', 'Ct'],
                dayNamesMin: ['Pz', 'Pt', 'Sa', 'Ça', 'Pe', 'Cu', 'Ct'],
                weekHeader: 'Hf',
                dateFormat: 'dd.mm.yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
            $.datepicker.setDefaults($.datepicker.regional['tr']);
        });
    </script>
}

    <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid bg-gradient-primary pb-4 pt-5 pt-md-8">
            <div class="container">
                <h1 class="display-4 text-white">ÖĞRETMEN DÜZENLEME SAYFASI</h1>
                <p class="lead text-white">Bu ekrandan öğretmen bilgilerini düzenleyebilirsiniz.</p>
            </div>
        </div>
        @Html.ActionLink("  Öğretmen Listesine Geri Dön", "Index", null, new { @class = "btn btn-warning fa fa-list" })
        <hr />

        @using (Html.BeginForm("Edit", "Teacher", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        <div class="row">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <hr />
            <div class="col-md-5">
                <div class="form-group">
                    <span class="input-group-addon"><i class="fa fa-users text-green"></i></span>
                    <label>DERS</label>
                    <div class="input-group">
                        @Html.DropDownList("Lesson_Id", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <small class="form-text text-muted">Öğretmenin gireceği dersi seçiniz.</small>
                    @Html.ValidationMessageFor(model => model.Lesson_Id, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <span class="input-group-addon"><i class="fa fa-id-card-o text-purple"></i></span>
                    <label>TC NUMARASI</label>
                    <div class="input-group">
                        @Html.EditorFor(model => model.TCno, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <small class="form-text text-muted">Öğretmen TC Kimlik numarası giriniz</small>
                    @Html.ValidationMessageFor(model => model.TCno, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <span class="input-group-addon"><i class="fa fa-font text-red"></i></span>
                    <label>AD</label>
                    <div class="input-group">
                        @Html.EditorFor(model => model.FName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <small class="form-text text-muted">Öğretmen Adını giriniz</small>
                    @Html.ValidationMessageFor(model => model.FName, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <span class="input-group-addon"><i class="fa fa-strikethrough text-yellow"></i></span>
                    <label>SOYAD</label>
                    <div class="input-group">
                        @Html.EditorFor(model => model.LName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <small class="form-text text-muted">Öğretmen Soyadı Giriniz</small>
                    @Html.ValidationMessageFor(model => model.LName, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <span class="input-group-addon"><i class="fa fa-intersex text-blue"></i></span>
                    <label>CİNSİYET</label>
                    <div class="input-group">
                        <table>
                            <tr>
                                <td>@Html.RadioButtonFor(model => model.Gender, true) <strong>Bay</strong></td>
                                <td> &nbsp; &nbsp;&nbsp; </td>
                                <td>@Html.RadioButtonFor(model => model.Gender, false) <strong>Bayan</strong></td>
                            </tr>
                        </table>
                    </div>
                    <small class="form-text text-muted">Öğretmen Cinsiyeti seçiniz</small>
                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <span class="input-group-addon"><i class="fa fa-calendar text-orange"></i></span>
                    <label>DOĞUM TARİHİ</label>
                    <div class="input-group">
                        @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <small class="form-text text-muted">Öğretmen Doğum Tarihi</small>
                </div>

                <div class="form-group">
                    <span class="input-group-addon"><i class="fa fa-phone text-cyan"></i></span>
                    <label>ÖĞRETMEN TELEFON 1</label>
                    <div class="input-group">
                        @Html.EditorFor(model => model.Phone1, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <small class="form-text text-muted">Öğretmen Mobil telefon numarası giriniz. Ör: 05xx xxx xxxx</small>
                </div>

                <div class="form-group">
                    <span class="input-group-addon"><i class="fa fa-phone text-pink"></i></span>
                    <label>ÖĞRETMEN TELEFON 2</label>
                    <div class="input-group">
                        @Html.EditorFor(model => model.Phone2, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <small class="form-text text-muted">Öğretmenin yedek Mobil telefon numarası giriniz. Ör: 05xx xxx xxxx</small>
                </div>

                <div class="form-group">
                    <span class="input-group-addon"><i class="fa fa-picture-o text-red"></i></span>
                    <label>FOTOĞRAF</label>
                    <div class="input-group">
                        <input type="file" class="btn btn-primary" value="Dosya Seç..." name="ImageFile" required />
                    </div>
                    <small class="form-text text-muted">Öğretmenin fotoğrafı seçiniz. 1 MB küçük |.png|.jpg|.jpeg uzantılı dosyayı seçiniz.</small>

                </div>
            </div>

            <div class="col-md-1"></div>

            <div class="col-md-5">
                <div class="form-group">
                    <span class="input-group-addon"><i class="fa fa-envelope text-orange"></i></span>
                    <label>E-POSTA</label>
                    <div class="input-group">
                        @Html.EditorFor(model => model.eMail, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <small class="form-text text-muted">Öğretmen Sisteme giriş yapabilmesi için bir E-Posta adresi giriniz.</small>
                    @Html.ValidationMessageFor(model => model.eMail, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <span class="input-group-addon"><i class="fa fa-key text-pink"></i></span>
                    <label>ŞİFRE</label>
                    <div class="input-group">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <small class="form-text text-muted">Öğretmen Sisteme giriş yapabilmesi için bir şifre giriniz.</small>
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <span class="input-group-addon"><i class="fa fa-toggle-on text-green"></i></span>
                    <label>DURUM</label>
                    <div class="input-group">
                        <table>
                            <tr>
                                <td>@Html.RadioButtonFor(model => model.Status, true) <strong>Aktif</strong></td>
                                <td> &nbsp; &nbsp;&nbsp; </td>
                                <td>@Html.RadioButtonFor(model => model.Status, false) <strong>Pasif</strong></td>
                            </tr>
                        </table>
                    </div>
                    <small class="form-text text-muted">Öğretmenin Durumunu seçiniz</small>
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <span class="input-group-addon"><i class="fa fa-check-circle-o text-cyan"></i></span>
                    <label>KATILMA TARİHİ</label>
                    <div class="input-group">
                        @Html.EditorFor(model => model.DateOfJoin, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <small class="form-text text-muted">Öğretmenin Katılma tarihini giriniz.</small>
                    @Html.ValidationMessageFor(model => model.DateOfJoin, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <span class="input-group-addon"><i class="fa fa-circle-o text-purple"></i></span>
                    <label>AYRILMA TARİHİ</label>
                    <div class="input-group">
                        @Html.EditorFor(model => model.DateOfLeave, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <small class="form-text text-muted">Öğretmenin Ayrılma tarihini seçiniz.</small>
                    @Html.ValidationMessageFor(model => model.DateOfLeave, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <span class="input-group-addon"><i class="fa fa-map-marker text-yellow"></i></span>
                    <label>ADRES</label>
                    <div class="input-group">
                        @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @style = "height: 100px" })
                    </div>
                    <small class="form-text text-muted">Öğretmen Adres'ini giriniz.</small>
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <span class="input-group-addon"><i class="fa fa-align-justify text-blue"></i></span>
                    <label>AÇIKLAMA</label>
                    <div class="input-group">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @style = "height: 100px" })
                    </div>
                    <small class="form-text text-muted">Öğretmen için bir açıklama giriniz. Örneğin sınıfını girebilirsiniz.</small>
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1"></div>
            <br />
        </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success ">
                            <i class="fa fa-floppy-o">&nbsp; &nbsp;Değişiklikleri Kaydet</i>
                        </button>
                    </div>
                </div>
                <br />
                <br />
            </div>
            <hr />
        }
    </div>