@model ClassroomProject_V1._3_.Models.AnnouncementDTO

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid bg-gradient-primary pb-4 pt-5 pt-md-8">
        <div class="container">
            <h1 class="display-4 text-white"> DUYURULAR LİSTESİ</h1>
            <p class="lead text-white">Bu ekrandan duyuruların detaylarını görüntüleyip, silme,ekleme ve güncelleme işlemlerini gerçekleştirebilirsiniz.</p>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Index", "Announcement"))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Duyuru Ekleme ve Güncelleme işlemleri</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.TextBoxFor(model => model.AnnouncementData.Date, "{0:dd/MM/yyyy HH:mm:ss.fff}", htmlAttributes: new { @type = "hidden" })

                    <div class="form-group">
                        <span class="input-group-addon"><i class="fa fa-graduation-cap text-cyan"></i></span>
                        <label>BAŞLIK</label>
                        <div class="input-group">
                            @Html.EditorFor(model => model.AnnouncementData.Title, new { htmlAttributes = new { @class = "form-control", } })
                        </div>
                        <small class="form-text text-muted">Duyurunun Websitesinde görünecek başlığını giriniz.</small>
                        @Html.ValidationMessageFor(model => model.AnnouncementData.Title, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <span class="input-group-addon"><i class="fa fa-align-justify text-red"></i></span>
                        <label>İÇERİK</label>
                        <div class="input-group">
                            @Html.TextAreaFor(model => model.AnnouncementData.EntireContent, new { @class = "form-control", @style = "height: 200px" })
                        </div>
                        <small class="form-text text-muted">Duyurunun içeriğini yazınız. Başlığı tıkladıktan sonra görünecek metin.</small>
                        @Html.ValidationMessageFor(model => model.AnnouncementData.EntireContent, "", new { @class = "text-danger" })
                    </div>

                    @Html.HiddenFor(model => model.AnnouncementData.Id)

                    <div class="form-group">
                        <div class="form-prepend">
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-check-square-o">&nbsp;&nbsp; Oluştur / Değiştir</i>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover table-striped table-responsive">
                <tr style="font-weight:900;">
                    <td>TARİH</td>
                    <td>BAŞLIK</td>
                    <td>İÇERİK</td>
                    <td></td>
                </tr>
                @foreach (var item in Model.AnnouncementList)
                {
                    <tr>
                        <td style="width: 18%">@item.Date</td>
                        <td style="width: 27%">@item.Title</td>
                        <td style="width: 38%">@item.EntireContent</td>
                        <td style="width: 17%">
                            @Html.ActionLink("  Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-primary fa fa-pencil-square-o" })

                            @Html.ActionLink("  Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-danger fa fa-trash-o" })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>