@model IEnumerable<ClassroomProject_V1._3_.Models.Student>

@{

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Öğrenci Listeleme";
}

<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid bg-gradient-primary pb-4 pt-5 pt-md-8 ">
        <div class="container text-white" >
            <h1 class="display-4 text-white">ÖĞRENCİ LİSTESİ</h1>
            <p class="lead">Bu ekrandan öğrenci detaylarını görüntüleyip, silme,ekleme ve güncelleme işlemlerini gerçekleştirebilirsiniz.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>
                @Html.ActionLink("  Yeni Öğrenci Ekle", "Create", null, new { @class = "btn btn-info fa fa-plus" })
            </p>
        </div>

        <div class="col-md-2"></div>

        <div class="col-md-4">
            @using (Html.BeginForm("Index", "Student", FormMethod.Get))
            {
                <div class="input-group" style="float:right">
                    @Html.TextBox("searching", null, htmlAttributes: new { @class = "form-control", @placeholder = "Aramak istediğin...", @style = "float:right" })

                    <span class="input-group-btn">
                        <button class="btn btn-search btn-info" type="submit"><i class="fa fa-search fa-fw"></i> ARA </button>
                    </span>
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-condensed">
                    <tr>
                        <th><p>Numara</p></th>
                        <th><p>Alan</p></th>
                        <th><p>TC NO</p></th>
                        <th><p>AD</p></th>
                        <th><p>SOYAD</p></th>
                        <th><p>DURUM</p></th>
                        <th><p>SINIF</p></th>
                        <th><p>GRUP</p></th>
                        <th></th>
                    </tr>

                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td colspan="3" style="color:red;">
                                    Eşleşme Bulunamadı.
                                </td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TCno)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LName)
                                    </td>

                                    <td>
                                        @if (item.Status == true)
                                        {
                                            <p>Aktif</p>
                                        }
                                        else
                                        {
                                            <p>Pasif</p>
                                        }
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Class.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Group.Name)
                                    </td>
                                    <td>

                                        @Html.ActionLink("  Detaylar", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn btn-primary fa fa-info" }) |
                                        @Html.ActionLink("  Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-success btn btn-primary fa fa-pencil-square-o" }) |
                                        @Html.ActionLink("  Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-danger fa fa-trash-o" })
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>